---
import Java from "../icons/Java.astro";
import Spring from "../icons/Spring.astro";
import Angular from "../icons/Angular.astro";
import PostgreSQL from "../icons/PostgreSQL.astro";
import Html from "../icons/Html.astro";
import Css from "../icons/Css.astro";
import TypeScript from "../icons/TypeScript.astro";
import Tailwind from "../icons/Tailwind.astro";
import GoogleMaps from "../icons/GoogleMaps.astro";

const TAGS = {
    JAVA: {
        name: "Java",
        icon: Java
    },
    SPRING: {
        name: "Spring Boot",
        icon: Spring
    },
    ANGULAR: {
        name: "Angular",
        icon: Angular
    },
    POSTGRESQL: {
        name: "PostgreSQL",
        icon: PostgreSQL
    },
    HTML: {
        name: "Html",
        icon: Html
    },
    CSS: {
        name: "Css",
        icon: Css
    },
    TYPESCRIPT: {
        name: "Typescript",
        icon: TypeScript
    },
    TAILWIND: {
        name: "Tailwind",
        icon: Tailwind
    },
    GOOGLEMAPS: {
        name: "Google Maps",
        icon: GoogleMaps
    }
};

const PROJECTS = [
    {
        title: "RouteFlex",
        description:
            "Plataforma web diseñada para optimizar la logística de entregas prioritarias, con gestión de vehículos, paquetes y rutas eficientes mediante la Api de Google Maps, además de acceso multiusuario para administrativos y conductores.",
        link: "https://github.com/JhonAlmanzarQ/RouteFlex",
        image: "../ImgRouteFlez.jpg",
        tags: [TAGS.JAVA, TAGS.SPRING, TAGS.ANGULAR, TAGS.HTML, TAGS.CSS, TAGS.TYPESCRIPT, TAGS.POSTGRESQL, TAGS.GOOGLEMAPS],
        type: "Fullstack",
    },
    {
        title: "Portafolio",
        description:
            "Plataforma web enfocada en el desarrollo frontend, diseñada para mostrar mi habilidad en la creación de interfaces funcionales y de fácil uso. A través de una estructura sólida y un diseño coherente y responsive, refleja mi capacidad para construir soluciones eficientes y visualmente atractivas.",
        link: "https://github.com/JhonAlmanzarQ/Portafolio.git",
        image: "../Portfolio.jpg",
        tags: [TAGS.HTML, TAGS.TAILWIND],
        type: "Frontend"
    },
];
---

<section class="mt-5">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        {
            PROJECTS.map(({ title, description, tags, image, link, type }) => (
                <article class="bg-neutral-900 text-white rounded-3xl shadow-lg shadow-2xl shadow-white/5">
                    <div class="relative overflow-hidden rounded-3xl m-1 group">
                        <img
                            class="w-full h-[190px] object-cover transition-transform duration-300 group-hover:scale-110"
                            src={image}
                            alt={title}
                        />
                        <span class="absolute top-3 left-3 bg-gray-700 text-sm text-white rounded-full px-3 py-1">
                            {type}
                        </span>
                    </div>
                    <div class="m-6 mb-8">
                        <h3 class="text-yellow-200 text-xl font-semibold mt-4">{title}</h3>
                        <p class="text-sm text-gray-400 mt-2">{description}</p>
                        <ul class="flex flex-wrap gap-2 mt-4">
                            {tags.map((tag) => (
                                <li>
                                    <span class="flex justify-end items-center gap-2">
                                        <a class="rounded-full border border-white/10 flex justify-center items-center gap-x-1 py-2 px-3 bg-white/5 text-xs">
                                            {tag.name}
                                            <tag.icon class="w-4 h-4" />
                                        </a>
                                    </span>
                                </li>
                            ))}
                        </ul>
                        <a
                            href={link}
                            target="_blank"
                            class="inline-block mt-4 text-red-300/90 hover:text-red-400/90 text-sm font-semibold"
                        >
                            Ver proyecto
                        </a>
                    </div>
                </article>
            ))
        }
    </div>
</section>
